{% extends 'base.html' %}

{% block content %}

	{% block css %}
	{{block.super}}
	<style>
	/* Move down content because we have a fixed navbar that is 50px tall */
	body {
	  padding-top: 50px;
	  padding-bottom: 20px;
	}
	</style>
    {% endblock css %}
   
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>COOP</h1>
        <p>Um sistema para anúncio de trocas e empréstimo de jogos.</p>
        {% if not user.is_authenticated %}
          <p><a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Cadastre-se &raquo;</a></p>
        {% endif %}

        {% if user.is_authenticated %}
        <a class="btn btn-warning" href="{% url 'advertisement'%}">Anúncio</a>
        {% endif %}
        <!--<a class="btn btn-warning" href="{% url 'list_game'%}">Lista de Jogos</a>-->
      </div>
    </div>
	</body>
{% endblock content %}