{% extends 'base.html' %}

{% block content %}
        {% block css %}
                {{block.super}}
                <style>
                /* Move down content because we have a fixed navbar that is 50px tall */
                body {
                  padding-top: 50px;
                  padding-bottom: 20px;
                }
                </style>
        {% endblock css %}
        <h1>Lista de Usuarios</h1>

                <table>
                        <tr>
                                <th>Nome</th>
                                <th>Email</th>
                        </tr>
                {% for user in object_list %}
                        <tr>
                                <td>{{ user.nome }}</td>
                                <td>{{ user.email }}</td>
                        </tr>
                {% empty %}
                        <li>Sem usuários cadastrados.</li>
                {% endfor %}
                </table>
{% endblock content %}