{% extends 'base.html'%}
{% block content %}

{% block css %}
{{block.super}}
<style>
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 70px;
  padding-bottom: 20px;
}
</style>
{% endblock css %}

<div class="container">
    <h1>Criar Anúncio</h1>
    <br>

    <form action="" method="POST">
        {% csrf_token %}
        {{ formset.as_p }}
        {{ form.as_p }}
        <input type="submit" class="btn btn-success" value="Anunciar" />

        {% if user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'create_game'%}">Adicionar Jogo</a>
        {% endif %}
    </for>
</div>



{% endblock content %}